@import "order";
@import "billing";
@import "select/init";

.checkout {
  .woocommerce-info {
    @extend .text;
  }

  &__title {
    font-size: 18px;
    font-family: $font;
    font-weight: 700;
    margin: 10px 0;
    color: $black;
  }

  &__label {
    @extend .text;
  }

  textarea {
    @extend .textarea;
  }
}
