.the-content {
  padding: 35px 0;
  font-size: 14px;
  color: #666;

  h2 {
    margin-bottom: 15px;
    color: #000;
  }

  p {
    margin-bottom: 25px;
    line-height: 1.8;
    color: #666;
  }

  a {
    color: #666;
    text-decoration: underline;
  }

  strong {
    color: #000;
  }

  ul {
    margin: -24px 0 25px;
    padding-left: 15px;
  }

  li {
    font-size: 14px;
    line-height: 1.8;
  }

  &__black-marker li {
    margin-bottom: 30px;

    &::marker {
      color: #000;
    }
  }

  &__none-decoration {
    a {
      text-decoration: none;
    }
  }

  a:hover {
    color: #222;
    text-decoration: none;
  }
}
