.the-content {
  padding: 35px 0;
  font-size: 14px;
  color: #666;

  h2 {
    margin-bottom: 15px;
    color: #000;
  }

  p {
    margin-bottom: 25px;
    line-height: 1.8;
    color: #666;
  }

  strong {
    color: #000;
  }

  ul {
    margin: -24px 0 25px;
    padding-left: 15px;
  }

  li {
    font-size: 14px;
    line-height: 1.8;
  }
}
