@import "navigation/init";
@import "content";

.account {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.akkaunt {
  .u-columns {
    .form__col_double {
      flex-basis: 48%;

      @media screen and (max-width: 1023px) {
        &.u-column2 {
          margin-top: 35px;
        }
      }
    }
  }
}
