# Application
web/app/plugins/*
web/app/languages/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
composer.lock

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Idea
.idea

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Plugins
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/polylang-wc
!web/app/plugins/fabric-vendors

.DS_Store
.idea