.country {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;

  svg {
    width: 30px;
    margin-right: 8px;
  }

  &__title {
    font-size: 14px;
  }

  &__city {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 38px;
  }

  &__link {
    text-decoration: none;
    color: $greytext;
    font-family: $font;
    font-size: 14px;
    line-height: 1.8;
    padding-right: 20px;

    &:hover {
      color: $black;
    }
  }
}
