@import "cart";
@import "counter";

.yith-wcwl-add-to-wishlist {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $black;
  margin: 0;
  pointer-events: auto;
  transition: background-color ease 200ms;

  &:hover {
    background-color: black;
  }

  .yith-wcwl-add-button {
    height: 100%;
    width: 100%;
  }

  .add_to_wishlist {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .yith-wcwl-icon {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      width: 60%;
      height: 60%;
      position: absolute;
      top: 53%;
      right: 50%;
      transform: translate(50%, -50%);
      content: url("assets/images/components/wishlist/heart.svg");
    }
  }

  .feedback {
    .yith-wcwl-icon {
      margin: 0;
      width: 100%;
      height: 100%;
      position: absolute;

      &::before {
        position: absolute;
        top: 53%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 60%;
        height: 60%;
        content: url("assets/images/components/wishlist/heart-fill.svg");
      }
    }
  }
}

.product__summary {
  .yith-wcwl-add-to-wishlist {
    position: relative;
  }
}

#yith-wcwl-popup-message {
  display: none !important;
}

.woocommerce-product-gallery {
  .yith-wcwl-add-to-wishlist {
    right: -9px;
    top: 32px;
    left: auto;
    z-index: 1;
  }
}
