body.page-wishlist {
  .content {
    padding-top: 20px;
  }
}

.wishlist-block {
  &__empty {
    &-title {
      margin: 0;
      margin-bottom: 20px;
    }

    &-link {
      @extend .button;

      text-decoration: none;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 60px repeat(11, 1fr);

    &-item {
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;

      &_name {
        grid-column-start: 2;
        grid-column-end: 7;
      }

      &_price {
        grid-column-start: 7;
        grid-column-end: 9;
      }

      &_status {
        grid-column-start: 9;
        grid-column-end: 11;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @media screen and (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      align-items: initial;
    }

    @media screen and (max-width: 470px) {
      grid-template-columns: 1fr;
    }
  }
}
