.pryazha {
  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__block {
    flex-basis: 48%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      flex-basis: 100%;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      fill: $secondcolor;
      opacity: 0.8;
    }
  }

  &__item {
    .text {
      width: 70%;

      @media screen and (max-width: 767px) {
        width: 85%;
      }
    }
  }
}
