.archive {
  &__top {
    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-bottom: 25px;

      @media screen and (max-width: 567px) {
        flex-wrap: wrap;
      }
    }
  }

  .woocommerce-result-count {
    margin: 0;
    margin-right: 15px;
  }
}
