.archive {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__content {
    width: 100%;
  }

  &__description {
    width: 100%;
    font-family: $font;
    font-size: 14px;
    padding-top: 60px;
    color: $greytext;
    line-height: 1.7;

    p {
      margin-bottom: 10px;
    }

    a {
      color: $greytext;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__form {
    padding-top: 20px;
  }
}

