.archive {
  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .products {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      }
    }
  }

  &__content {
    width: 100%;
    flex-basis: calc(100% - 325px);
  }

  &__description {
    width: 100%;
    font-family: $font;
    font-size: 14px;
    color: $greytext;
    line-height: 1.7;

    p {
      margin-bottom: 10px;
    }

    a {
      color: $greytext;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__form {
    padding-top: 20px;
  }
}

