.afisha {
  width: 100%;

  @media screen and (max-width: 1023px) {
    overflow-x: hidden;
    margin-top: 0;
  }

  &__inner {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      width: max-content;
      flex-wrap: nowrap;

      &-mobile {
        overflow-x: scroll;
        appearance: none;

        /* stylelint-disable */
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar {
          width: 0 !important;
        }

        /* stylelint-enable */
      }
    }
  }

  &__item {
    display: block;
    padding: 24px 26px;
    color: #fff !important;
    font-weight: 700;
    height: 118px;
    position: relative;
    border-radius: 10px;
    transition: background-color ease 200ms;

    &-wrap {
      width: 24%;
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;

      @media screen and (max-width: 1023px) {
        margin-right: 15px !important;
        width: 245px;

        &:first-child {
          margin-left: 15px;
        }
      }

      &:hover .afisha__item {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__img {
    text-align: right;
  }

  &__text {
    width: 80%;
    position: absolute;
    bottom: 20px;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

.afisha-hasbg:hover .afisha__item {
  background-color: rgba(0, 0, 0, 0.3);
}
