.defaultpage {
  &__imgwrap {
    margin-bottom: 35px;

    @media screen and (max-width: 1023px) {
      height: 400px;
    }

    @media screen and (max-width: 767px) {
      height: 250px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  }
}

.threeimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  &__image {
    flex-basis: 32%;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
      height: 280px;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
