.mini-cart {
  position: fixed;
  width: 350px;
  z-index: 3;
  bottom: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  right: -350px;
  opacity: 0;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-property: opacity, right;
  transition-timing-function: ease;
  transition-duration: 300ms;

  &__top {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    padding-bottom: 0;
    flex-basis: 10%;
  }

  &.active {
    right: 0;
    opacity: 1;
  }

  &__cross {
    align-self: flex-end;
    cursor: pointer;
    color: $greytext;
    transition: color ease 200ms;

    &:hover {
      color: $black;
    }
  }
}

.widget_shopping_cart_content {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .woocommerce-mini-cart__wrapper {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .button {
      padding: 8px 12px;
    }
  }
}

.woocommerce-mini-cart {
  overflow-y: scroll;
  /* stylelint-disable */
  overflow: -moz-scrollbars-none;
  flex-basis: 90%;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  /* stylelint-enable */

  &__empty-message {
    @extend .text;
  }

  &__total {
    @extend .text;

    margin: 0;
    margin-bottom: 15px;
  }

  padding: 0;
  list-style-type: none;

  &-item {
    @extend .text;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &:first-child {
      border-top: 1px solid $grey;
    }

    border-bottom: 1px solid $grey;

    a {
      color: $greytext;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      transition: color ease 200ms;

      &:hover {
        color: $black;
      }
    }

    img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }

    .remove {
      align-self: flex-start;
      line-height: 9px;
    }
  }
}
