.sticky-cart {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition-property: visibility, opacity;
  transition-timing-function: ease;
  transition-duration: 200ms;
  opacity: 0;
  visibility: hidden;

  @media screen and (max-width: 587px) {
    top: auto;
    bottom: 0;
    height: max-content;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  &__wrap {
    @extend .container;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 587px) {
      align-items: flex-start;
      padding-top: 15px;
    }
  }

  &__title {
    max-width: 60%;
    font-size: 18px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 587px) {
      max-width: 100%;
      padding-bottom: 85px;
    }
  }
}

.sticky_active {
  .sticky-cart {
    visibility: visible;
    opacity: 1;
  }

  #main {
    .product__cart {
      @extend .container;

      position: fixed;
      top: 0;
      height: 80px;
      left: 50%;
      box-sizing: border-box;
      transform: translateX(-50%);
      z-index: 6;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      margin: 0;

      @media screen and (max-width: 1230px) {
        width: 100%;
      }

      @media screen and (max-width: 587px) {
        top: auto;
        bottom: 0;
        justify-content: stretch;
        padding-bottom: 15px;
        align-items: flex-end;
      }
    }

    .product__counter {
      margin-bottom: 0;
    }

    .product__add-cart {
      max-width: max-content;
      min-width: 115px;
      margin-bottom: 0;
      margin-right: 0;

      &.checkout-button {
        display: none;
      }

      @media screen and (max-width: 587px) {
        max-width: 100%;
      }
    }
  }
}
