@import "card";
@import "stories";

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  @media screen and (max-width: 885px) {
    justify-content: space-between;
  }
}
