.result-message {
  position: fixed;
  width: max-content;
  display: none;
  max-width: 250px;
  height: max-content;
  top: 50%;
  right: 50%;
  z-index: 200;
  text-align: center;
  transform: translate(50%, -50%);
  background-color: #fff;
  padding: 20px 35px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 30px;
}
