.checkbox,
.radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border: 2px solid $secondcolor;
      box-sizing: border-box;
      border-radius: 50%;
    }

    &_checkbox::after {
      border-radius: 0;
    }
  }

  &__checked {
    opacity: 0;
    position: absolute;
    transition: opacity ease 100ms;

    &_radio {
      border-radius: 50%;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      left: 4px;
      background-color: $secondcolor;
    }

    &_checkbox {
      left: 6px;
      top: 5px;
      width: 5px;
      height: 10px;
      transform: rotate(45deg);
      border-bottom: 2px solid $secondcolor;
      border-right: 2px solid $secondcolor;
    }
  }

  &__item {
    opacity: 0;
    cursor: pointer;
    margin: 0 15px 0 0;
    visibility: hidden;
    width: 18px;
    height: 18px;

    &:checked + span {
      opacity: 1;
    }
  }
}
