@import "checkboxes";
@import "input";
@import "input-number";
@import "input-file";
@import "cdek";

.form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }

  &__col {
    &_double {
      flex-basis: 48%;
    }

    &_third {
      flex-basis: 74%;
    }
  }

  &_single {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }
}

.formline {
  &__inner {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .form {
    &__col {
      &_double {
        flex-basis: 100%;
      }

      &_third {
        flex-basis: 100%;
      }
    }
  }
}

.field__label {
  @extend .text;
}
