.table-attributes {
  overflow: hidden;
  overflow-x: scroll;
  margin-right: -30px;

  /* stylelint-disable */
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }

  /* stylelint-enable */

  &__wrapper {
    min-width: 997px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__item {
    box-sizing: border-box;
    padding: 5px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;

    &_title {
      font-weight: 400;
      justify-content: flex-start;
    }
  }

  &__list {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    &:nth-child(2n+2) {
      background-color: #d6dbe0;
    }
  }
}

.woocommerce-Tabs-panel--product_sizes {
  width: 100%;
  margin-left: -15px;
}

.product_sizes_tab {
  flex-direction: column;
}
