.woocommerce-product-gallery {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;

  &__trigger {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .flex-viewport {
    width: 600px;
  }

  .flex-active-slide {
    cursor: zoom-in;
  }

  .flex-control-nav {
    padding: 0;
    list-style-type: none;
    margin: 0 10px 0 0;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__wrapper {
    margin: 0;
  }
}
