@import "gallery";
@import "swatches";
@import "tabs";
@import "attributes";
@import "related";
@import "share";
@import "instock";
@import "delivery";
@import "colors";

.product {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__counter {
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;

    .input_number {
      height: 55px;
    }
  }

  &__cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__add-cart {
    height: 55px;
    min-width: 150px;
    max-width: max-content;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
    outline: none;
    margin-bottom: 10px;

    &.checkout-button {
      margin-right: 0;
      white-space: nowrap;
    }
  }

  &_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .posted_in,
    .tagged_as {
      a {
        font-weight: 400;
        text-decoration: none;
        color: $black;
        transition: color ease 200ms;

        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    &_title {
      margin-top: 35px;
    }
  }

  &__quantity {
    &_icon {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      svg {
        width: 20px;
        height: 20px;
        fill: $greytext;
      }
    }

    &_text {
      display: flex;
      align-items: center;
    }
  }
}
