@import "gallery";
@import "swatches";
@import "swatches-size";
@import "tabs";
@import "attributes";
@import "related";
@import "share";
@import "instock";
@import "delivery";
@import "colors";
@import "comment";

.product {
  &__cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 35px;
    margin-top: 10px;
    position: relative;

    @media screen and (min-width: 1200px) {
      max-width: 450px;
    }

    &::after {
      content: "Количество";
      position: absolute;
      left: 0;
      top: 0;
      font-family: $font;
      color: $black;
      font-size: 15px;
    }

    &-right {
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      align-items: end;

      @media screen and (max-width: 400px) {
        margin-right: 0;
      }

      .wishlist__like {
        height: 55px;
        width: 55px;
        border-radius: 6px;
        margin-left: 10px;
        //margin-bottom: 10px;
        background-color: #eef2f7;

        @media screen and (max-width: 720px) {
          margin-left: 10px;
        }

        &::before {
          border-top-color: $secondcolor;
        }

        &-icon {
          stroke: $secondcolor;
          fill: #eef2f7;
        }

        &.added {
          background-color: $secondcolor;

          &::before {
            border-top-color: #fff;
          }

          .wishlist__like-icon {
            stroke: #fff;
          }
        }

        &:hover {
          background-color: $secondcolor;

          &::before {
            border-top-color: #fff !important;
          }

          .wishlist__like-icon {
            stroke: #fff;
            fill: #fff;
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }

    .product__cart {
      @media screen and (max-width: 1023px) {
        width: 600px;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &__counter {
    max-width: none;
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-shrink: 0.5;

    .input_number {
      height: 55px;
    }

    @media screen and (max-width: 400px) {
      margin-right: 0;
    }
  }

  &__add-cart {
    height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    flex-grow: 1;
    margin-bottom: 10px;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    @media screen and (max-width: 400px) {
      margin-right: 0;
    }

    &:hover {
      background-color: $secondcolor;
      color: white;
    }

    &.checkout-button {
      white-space: nowrap;
      flex-grow: 1;
    }
  }

  &_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .posted_in,
    .tagged_as {
      a {
        font-weight: 400;
        text-decoration: none;
        color: $black;
        transition: color ease 200ms;

        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    &_title {
      margin-top: 35px;
    }
  }

  &__quantity {
    position: relative;

    &_icon {
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      svg {
        width: 20px;
        height: 20px;
        fill: $greytext;
      }
    }

    &_text {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 30px;
    }
  }

  &__block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .share {
      margin-right: 20px;
      margin-bottom: 15px;
      flex-basis: 160px;
      flex-shrink: 0;
    }
  }

  &__price-description {
    flex-basis: calc(100% - 180px);
    min-width: 200px;
    line-height: 1.4;
  }
}
