@import "gallery";
@import "swatches";

.product {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__counter {
    max-width: 100px;
    margin-right: 10px;

    .input_number {
      height: 55px;
    }
  }

  &__cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__add-cart {
    height: 55px;
    min-width: 250px;
    max-width: 300px;
    width: 100%;
  }

  &_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
