.variations {
  [data-attribute_name]:not([data-attribute_name="attribute_pa_cvet"]) {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition-timing-function: ease;
    transition-duration: 200ms;
    transition-property: opacity, visibility;

    &.active_dropdown {
      opacity: 1;
      visibility: visible;
    }

    .swatch_wrapper {
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      transition: background-color ease 200ms;

      &:hover {
        background-color: #ecf1f7;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .wcvs-swatch {
      width: 100%;
      border: none !important;
      margin-right: 0;
      padding: 10px;
      position: relative;

      .variation_check {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &.selected {
        border-radius: 0 !important;

        &::after {
          position: absolute;
          right: 18px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          content: "";
          width: 5px;
          height: 9px;
          border-bottom: 2px solid $secondcolor;
          border-right: 2px solid $secondcolor;
        }
      }
    }
  }

  .swatches__current-value {
    width: 240px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: $font;
    color: $black;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #d6dbe0;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: url("../images/angle-size.svg");
      position: absolute;
      right: 12px;
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform ease 200ms;
    }

    &.active {
      border-color: #99bdff;

      &::after {
        transform: translateY(-54%) rotate(180deg);
      }
    }
  }

  .value {
    position: relative;
  }
}
