.product {
  &__tabs {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-top: 1px solid rgba(0, 0, 0, 0.08);

      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 10px 0;
      }

      &:first-child {
        border-top: none;
      }

      a {
        text-decoration: none;
        color: $black;

        @media screen and (max-width: 767px) {
          color: $greytext;
        }

        transition-duration: 200ms;
        transition-property: border-color, color;
        transition-timing-function: ease;
        border-bottom: 2px solid transparent;
      }

      @media screen and (max-width: 767px) {
        &.active a {
          color: $black;
        }
      }
    }

    &-link {
      margin-right: 20px;
      width: 200px;

      @media screen and (max-width: 767px) {
        margin: 0 !important;
        width: 100%;
        display: flex;

        a {
          width: 100%;
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      @media screen and (min-width: 768px) {
        display: none;
      }

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        fill: rgba(0, 0, 0, 0.5);
      }
    }

    &-item.active &-icon {
      transform: rotate(180deg);

      svg {
        fill: $black;
      }
    }
  }

  &__tab {
    margin-top: 4px;
    width: 100%;

    @media screen and (min-width: 768px) {
      display: block !important;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 15px;

      &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    ul {
      margin: 0;
      padding-left: 15px;
    }

    p {
      margin: 0;
    }

    /* stylelint-disable */
    a {
      color: $greytext;
      border: none;
      transition: color ease 200ms;

      &:hover {
        color: $black;
      }
    }

    /* stylelint-enable */
  }
}
