.socials {
  display: flex;
  width: max-content;

  &__inline {
    justify-content: space-between;
  }

  &__icon {
    width: 100%;
    height: 100%;

    svg {
      .cls-1 {
        fill: transparent;
      }

      .cls-2 {
        fill: #8c8c8c;
        transition: fill ease 200ms;
      }
    }
  }

  &__item {
    margin-right: 6px;
    width: 27px;
    height: 27px;
    border: 1px solid #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: $greytext;
    transition-property: color, border-color;
    transition-timing-function: ease;
    transition-duration: 200ms;

    &:hover {
      border-color: $red;
      color: $red;

      svg {
        .cls-2,
        .cls-3 {
          fill: $red;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
