.topbanner {
  width: 100%;
  background-color: #6962f5;

  &__inner {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-family: "noski", sans-serif;
    text-decoration: none;
    font-size: 14px;

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__button {
    margin-left: 20px;
    background-color: #fff;
    color: #6962f5;
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 6px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__cross {
    position: absolute;
    right: 20px;
    top: 0;
    height: 50px;
    display: flex;
    cursor: pointer;
    z-index: 2;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }

  &__icon {
    width: 12px;
    fill: #fff;
    transform: scale(1.3);

    @media screen and (max-width: 767px) {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 767px) {
  .topbanner__mobilefix {
    display: none;
  }
}
