.form {
  &__wrap {
    padding: 20px 0;
    width: 62%;
  }

  &__title {
    padding-bottom: 10px;
  }

  &__text {
    font-family: $font;
    font-size: 14px;
    color: $greytext;
    padding-bottom: 15px;
  }
}

.input_checkbox {
  position: relative;
  visibility: hidden;
}

.label_checkbox {
  position: relative;
  cursor: pointer;
  line-height: 1.8;
  font-family: $font;
  height: 26px;
  font-size: 14px;
}

.checkbox__text {
  padding-left: 5px;
  line-height: 26px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0;
    border: 2px solid #1771e6;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    top: 8px;
    left: 4px;
    visibility: hidden;
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .form__wrap {
    width: 100%;
  }
}
