.city {
  &-gallery {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      flex-basis: 33%;

      @media screen and (max-width: 1023px) {
        flex-basis: 49.5%;
      }

      @media screen and (max-width: 767px) {
        flex-basis: 100%;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
