body.single-city {
  .content {
    padding-top: 0;
  }
}

.city {
  &-gallery {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      flex-basis: 33%;

      @media screen and (max-width: 1023px) {
        flex-basis: 49.5%;
      }

      @media screen and (max-width: 767px) {
        flex-basis: 100%;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    max-width: 100%;

    img {
      height: auto;
      width: 32%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  &__video {
    iframe {
      width: 100%;
    }
  }

  .category-output {
    &__title {
      &-wrap {
        .title {
          margin-right: 15px;

          @media screen and (max-width: 567px) {
            margin-right: 0;
          }
        }

        .button {
          min-width: 150px;
        }
      }
    }
  }
}
