.footer-messenger {
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1230px) {
      width: 100%;
    }

    @media screen and (max-width: 895px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__phone {
    color: $black !important;
  }

  &__icons-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      padding-right: 15px;
    }

    @media screen and (max-width: 895px) {
      margin-top: 15px;
    }
  }

  &__msg {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__text {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &_viber {
      .cls-1 {
        fill: #7f4da0;
      }
    }

    &_telegram {
      .cls-1 {
        fill: #30a7da;
      }
    }

    &_whatsapp {
      .cls-1 {
        fill: #00e676;
      }
    }
  }
}
