.filter {
  &__colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    width: max-content;
    height: max-content;
    border: 1px solid $grey;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    opacity: 0.7;

    &_current {
      opacity: 1;
      border-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__link {
    width: 100%;
    height: 100%;
  }
}
