.filter-toggle {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100%;
  top: 50%;
  background-color: $grey;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: none;

  &__icon {
    color: $greytext;
    font-size: 25px;
  }

  @media screen and (max-width: 767px) {
    display: flex;

    &_cross {
      display: none;
    }

    &_burger {
      display: block;
    }
  }
}
