@import "big";

/* stylelint-disable */
.maket__drag {
  display: flex;
  justify-content: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 600px;
  height: 600px;
  padding: 20px;

  @media screen and (max-width: 767px) {
    width: 400px;
    height: 400px;
  }

  @media screen and (max-width: 440px) {
    width: 300px;
    height: 300px;
    padding: 0;
  }
}


/* Before After Container */

.bal-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  font-family: $font;
}

.bal-after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;

  img {
    object-fit: cover;
    position: absolute;
    object-position: 50% 50%;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    user-select: none;

    @media screen and (max-width: 767px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 440px) {
      width: 300px;
      height: 300px;
    }
  }
}

.bal-before {
  @extend .bal-after;

  z-index: 1;
}

.bal-before-inset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bal-beforePosition {
  background: #121212;
  color: #fff;
  left: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.bal-afterPosition {
  @extend .bal-beforePosition;

  left: auto;
  right: 0;
}

.beforeLabel,
.afterLabel {
  position: absolute;
  top: 0;
  margin: 1rem;
  font-size: 14px;
  user-select: none;
  padding: 10px;
}

/* handle and arrow */

.bal-handle {
  height: 41px;
  width: 41px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -21px;
  border: 2px solid $black;
  background-color: $black;
  border-radius: 1000px;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 0 10px rgb(12, 12, 12);
}

.handle-left-arrow,
.handle-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.handle-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px;
}

.handle-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px;
}

.bal-handle::before {
  bottom: 55%;
  margin-bottom: 20px;
}

.bal-handle::after {
  top: 55%;
  margin-top: 20.5px;
}

.bal-handle::before,
.bal-handle::after {
  content: " ";
  display: block;
  width: 5px;
  background: #fff;
  height: calc(300px - 90%);

  @media screen and (max-width: 767px) {
    height: calc(200px - 90%);
  }

  @media screen and (max-width: 767px) {
    height: calc(150px - 90%);
  }
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
}

/* stylelint-enable */