/* draggable slider */
.teethcleaning {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cd-image-container {
  position: relative;
  width: 320px;
  max-width: 320px;
  margin: 0;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 767px) {
    margin: auto;
    display: block;
  }

  @media screen and (max-width: 400px) {
    width: 280px;
    max-width: 280px;
  }

  img {
    display: block;
    width: 320px;
    max-width: 320px;

    @media screen and (max-width: 400px) {
      width: 280px;
      max-width: 280px;
    }
  }
}

.cd-image-label {
  position: absolute;
  font-family: $font;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #222;
  padding: 2px 9px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  border-right: 4px solid #fff;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }

  .cd-image-label {
    left: 0;
    width: 132px;
    text-align: center;
  }
}

.cd-handle {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -20px;
  border-radius: 50%;
  background: #222 url("resources/assets/images/components/maket/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: translate3d(0, 0, 0) scale(0);

  &.draggable {
    background-color: #222;
  }
}

.is-visible {
  .cd-image-label {
    opacity: 1;
    transform: translateY(0);
  }

  .cd-resize-img {
    width: 50%;
    animation: cd-bounce-in 0.7s;
  }

  .cd-handle {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

.profchist > .vc_column-inner > .wpb_wrapper {
  float: right;
}
