.banner__order {
  &-list {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
  }

  .banner__side {
    flex: 1 0 50%;
  }

  @media screen and (max-width: 767px) {
    .banner__inner {
      flex-direction: column;
    }
  }

  &-item {
    position: relative;

    &::after {
      width: 8px;
      height: 8px;
      content: "";
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 8px;
      background-color: $greytext;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100% !important;
  }
}
