.banner__order {
  &-list {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
  }

  &-item {
    position: relative;

    &::after {
      width: 8px;
      height: 8px;
      content: "";
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 8px;
      background-color: $greytext;
    }
  }
}
