.banner {
  //background-color: #f6f7f8;
  border: 1px solid #e6e6e6;
  border-radius: 8px;

  &_bg {
    background-color: $grey;
    border: none;
  }

  &__inner {
    padding: 30px 54px;
    justify-content: space-between;
    display: flex;
    flex-flow: wrap;

    @media screen and (max-width: 767px) {
      padding: 30px;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    font-family: $font;
  }

  &__text {
    line-height: 1.8;
    color: $greytext;
    font-family: $font;
    font-size: 14px;
    margin: 20px 0;
  }

  &__side {
    //width: 50%;
    flex: 1 0 50%;

    &_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        justify-content: flex-start;
      }
    }
  }

  &__icon {
    text-align: right;
  }

  &__img {
    //max-width: 320px;
  }
}
