@import "cross";
@import "main";
@import "ajax";

.search {
  &__button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    outline: none;

    svg {
      width: 18px;
      height: 18px;
      transition: fill ease 200ms;
      fill: rgba(0, 0, 0, 0.2);
    }

    &:hover svg {
      fill: $red;
    }
  }

  &__input {
    height: 40px;
    border-radius: 25px;
    border: 1px solid #ededed;
    padding: 15px 6px 15px 20px;
    font-size: 14px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }

    &:focus {
      border-color: #ddd;
    }
  }
}
