@import "cross";

.search {
  &__button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.1);
    transition: color ease 200ms;

    &:hover {
      color: $red;
    }
  }

  &__input {
    height: 40px;
    border-radius: 25px;
    border: 1px solid #ededed;
    padding: 15px 6px 15px 20px;
    font-size: 14px;

    &:focus {
      border-color: #ddd;
    }
  }
}
