.main-search {
  z-index: 9;
  pointer-events: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  transition-duration: 300ms;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__cross {
    position: absolute;
    top: 17px;
    pointer-events: auto;
    z-index: 1;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    .cross {
      color: $grey;

      &:hover {
        color: white;
      }
    }
  }

  .search {
    pointer-events: auto;
    padding: 0;
    width: 100%;
    max-width: 768px;
    margin-right: 20px;
    margin-left: 20px;

    .labelwrap {
      margin: 0;
    }

    &__input {
      background: transparent;
      color: white;
      font-size: 18px;
      height: 60px;
      border-radius: 0;
      padding-right: 45px;
      border: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);

      &::placeholder {
        color: $grey;
      }
    }

    &__button {
      right: 20px;
      color: $grey;

      svg {
        fill: $grey;
        transition-property: transform;

        &:hover {
          fill: white;
          transform: scale(1.1);
        }
      }
    }

    &__list {
      max-height: calc(100% - 120px) !important;
    }
  }

  .ajax-search {
    @media screen and (orientation: landscape) and (max-width: 1023px) {
      height: 95%;
    }
  }
}
