.workorder {
  font-family: $font;

  &__title {
    text-align: center;
    padding-bottom: 40px;
  }

  &__inner {
    left: 0;
  }

  &__item {
    width: 54.1%;
    position: relative;
    display: flex;
    flex-flow: wrap;
    align-items: center;

    &_left {
      text-align: right;
    }

    &_right {
      text-align: left;
      float: right;
    }
  }

  &__iteminner {
    width: 52.1%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  &__block {
    flex-basis: 85%;
    padding-bottom: 30px;
  }

  &__titling {
    line-height: 1.8;
  }

  &__text {
    color: $greytext;
    line-height: 1.8;
    font-size: 14px;
  }

  &__line {
    flex-basis: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;

    &_last {
      justify-content: flex-start;
    }
  }

  &__circle {
    border-radius: 100px;
    border: 2px solid #222;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #222;
    background-color: #fff;
  }

  &__subline {
    width: 2px;
    background-color: #222;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    &_last {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .workorder {
    &__item {
      width: 100%;

      &_left {
        text-align: left;
      }
    }

    &__line {
      order: 1;
      flex-basis: 20%;
    }

    &__block {
      order: 2;
      flex-basis: 80%;
    }
  }
}
