.yith-wcqv-main {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 0;
    overflow-y: hidden !important;

    .type-product {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  .yith-wcwl-add-to-wishlist {
    display: none;
  }

  .product {
    display: flex;
    flex-wrap: nowrap;

    @media screen and (min-width: 768px) {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding-bottom: 0;
    }

    &__cart {
      &-right {
        margin-right: 0;

        @media screen and (max-width: 967px) and (min-width: 768px) {
          flex-basis: 100%;
        }

        @media screen and (max-width: 420px) {
          flex-basis: 100%;
        }
      }

      @media screen and (max-width: 767px) {
        max-width: 450px;
      }
    }

    &__counter {
      @media screen and (max-width: 967px) and (min-width: 768px) {
        margin-right: 0;
      }

      @media screen and (max-width: 420px) {
        margin-right: 0;
      }
    }
  }

  .title {
    font-size: 24px;
    margin-top: 0;

    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 450px) {
      font-size: 22px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 375px) {
      font-size: 18px;
      // font-weight: 400;
    }
  }

  .product_meta {
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .product__add-cart {
    min-width: 100px;
    margin-right: 0;
  }

  .wishlist__like {
    margin-left: 10px;

    @media screen and (max-width: 1044px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 968px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 967px) {
      margin-right: 0;
    }

    @media screen and (max-width: 442px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 420px) {
      margin-right: 0;
    }
  }

  .woocommerce-product-gallery {
    height: 100%;
    min-width: 300px;

    @media screen and (min-width: 768px) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 55%;
    }

    &__wrapper {
      height: 100%;
      max-height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__image {
      border-radius: 10px;
      height: 100%;
    }

    @media screen and (max-width: 767px) {
      height: 450px;
      margin-top: -15px !important;
      margin-right: -15px !important;
      margin-left: -15px !important;
    }

    @media screen and (max-width: 450px) {
      max-height: 400px;
    }

    @media screen and (max-width: 360px) {
      max-height: 350px;
    }
  }

  .summary {
    padding: 0 !important;

    @media screen and (min-width: 768px) {
      width: 42% !important;
    }

    @media screen and (max-width: 767px) {
      width: 100% !important;
    }
  }

  .summary-content {
    @media screen and (min-width: 768px) {
      overflow-y: scroll;
      height: 100%;
      margin-bottom: 20px;

      .title,
      .price,
      .variations_form,
      .product_meta {
        margin-right: 25px;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 12px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &::-webkit-scrollbar {
    @media screen and (max-width: 767px) {
      display: none;
      width: 0;
    }
  }

  box-shadow: none !important;

  .single-product {
    padding: 0;

    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  .wcvs-swatch-color {
    .variation_check {
      width: 25px;
      height: 25px;
    }
  }
}

#yith-quick-view-content div.images {
  width: auto;
}

#yith-quick-view-modal {
  .yith-quick-view-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  .yith-wcqv-wrapper {
    @media screen and (max-width: 767px) {
      width: calc(100% - 30px) !important;
      min-width: 290px !important;
      max-width: 470px;
    }
  }
}

#yith-quick-view-close {
  border: 0;
  text-decoration: none;
  font-family: $font;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 15px;
  margin: 50px;
  color: transparent;

  @media screen and (max-width: 1024px) {
    border: 0;
    text-decoration: none;
    font-family: $font;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 10px;
    bottom: 15px;
    margin: 0;
    color: transparent;
  }

  &::after {
    fill: white;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: url("../images/components/quick-view/times.svg");
    color: red;

    svg {
      fill: white;
      width: 100%;
      height: 100%;
    }

    &:hover {
      svg {
        fill: white;
      }
    }
  }
}

