@import "support-modal";
@import "action-item";
@import "support-action";

.make-call {
  &.active {
    display: block;
  }
}

.make-msg {
  &.active {
    display: block;
  }
}

.tab-hide {
  display: none;
}

.support-btn {
  width: 100%;
  height: 45px;
  border: 1px solid black;
  font-family: $font;
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    background: #222223;
    color: white;
    transition: 0.3s;
  }
}
