@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "noski";
  src: url("/app/themes/sage/resources/assets/fonts/noski-regular.woff2") format("woff2"), url("/app/themes/sage/resources/assets/fonts/noski-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "noski";
  src: url("/app/themes/sage/resources/assets/fonts/noski-bold.woff2") format("woff2"), url("/app/themes/sage/resources/assets/fonts/noski-bold.woff") format("woff");
}
