/** Colors */
$secondcolor: #1771e6;
$grey: rgba(206, 206, 206, 0.58);
$greytext: #666;
$black: #222;
$red: #dc2b2b;

/** Font */
//$font: "noski", sans-serif;
$font: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
