.products {
  .product {
    &__tools {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      transform: translate(0, 40px);
      background-color: transparent;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition-property: visibility, opacity, transform;
      transition-timing-function: ease;
      transition-duration: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      will-change: visibility, opacity, transform;

      .wishlist__like {
        margin-right: 15px;
      }

      @media screen and (max-width: 1023px) {
        visibility: visible;
        opacity: 1;
        transform: translate(0, -10px);
      }
    }
  }

  li.product:hover .product__tools {
    visibility: visible;
    opacity: 1;
    transform: translate(0, -10px);
  }
}
