.products {
  .product {
    &__tools {
      position: absolute;
      top: 20%;
      width: 100%;
      height: 100%;
      background-color: transparent;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition-property: visibility, opacity, top;
      transition-timing-function: ease;
      transition-duration: 300ms;

      @media screen and (max-width: 1023px) {
        visibility: visible;
        opacity: 1;
        top: 0 !important;
      }
    }
  }

  li.product:hover .product__tools {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}
