.product {
  &__tools {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity, bottom;
    transition-timing-function: ease;
    transition-duration: 300ms;

    @media screen and (max-width: 1023px) {
      visibility: visible;
      opacity: 1;
    }
  }
}

.products li.product:hover .product__tools {
  visibility: visible;
  opacity: 1;
}
